@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
$visual-grid:true;
@import "variables";





main{
  @include outer-container;

}


/////////////////////////////////////
//          Header                //
////////////////////////////////////

.hero{
  @include span-columns(12 of 12);
  background-color: rgba(159, 159, 159, 0.19);
  height: 100px;
  // position: fixed;
    span{
      @include shift(5 of 12);
      font-family: $heading;
      font-size: 24px;
      line-height: 86px;
    }
}



// .hero{
//   @include outer-container;
//   img{
//     @include span-columns(12 of 12);
//     background: url(../assets/graph.jpg);
//     background-size: 100%;
//     background-color: #f2f2f2;
//     // position: fixed;
//     height: 400px;
//     background-repeat: no-repeat;
//     top: 0;
//     left: 0;
//  span{
//    @include span-columns(12 of 12);
//    font-size: 20px;
//    color: #ffffff;
//    position: absolute;
//  }
//  }
// }

///////////////////////////////////////
//            Headshot              //
//////////////////////////////////////


.headshot{
  @include span-columns(6);
  margin-top: 20px;
  img{
    @include span-columns(2 of 6);
    @include shift(2 of 6);
    max-width: 100%;
  }
  img:hover{
    opacity: 0.4;
    filter: alpha(opacity=40);
  }


}


//////////////////////////////////////
//             About               //
////////////////////////////////////

.about{
  @include span-columns(5.5 of 12);
    font-family: $body;
    line-height: 25px;
    text-decoration: none;
      span{
        font-family: $body;
        text-decoration: none;
        a{
          text-decoration: none;
        }
          }
        }
h1{
  font-family: $heading;
  text-align: center;
}
.highlight{
  color: #FF6002;
}


///////////////////////////////////////
//            Skills                //
/////////////////////////////////////

.skills{
  @include span-columns(12 of 12);
  margin-top: 20px;
  li{
    @include span-columns(3.8 of 12);
    font-family: $body;
    line-height: 25px;
    text-align: center;
    &:hover{
      color: #FF6002;
      font-weight: bold;
    }
  }
}

////////////////////////////////////
//             Portfolio         //
//////////////////////////////////

.portfolio{
  @include span-columns(12 of 12);
  margin-top: 20px;
  a{
    text-decoration: none;
    color: #000000;
  }
}

.portfolioLinks{
  list-style-type: none;
}
///////////////////////////////////
//            Links             //
/////////////////////////////////

.links{
  @include span-columns(12 of 12);
  margin-top: 20px;
  a{
    text-decoration: none;
    color: #000000;
  }
}


.nav{
  @include span-columns(5 of 12);
  list-style-type: none;
  background-color: #EDEDED;
  border: 1px solid rgba(103,105,94,0.32);
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
  padding-top:40px;
  font-family: $body;

}
