html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

.hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: rgba(159, 159, 159, 0.19);
  height: 100px; }
  .hero:last-child {
    margin-right: 0; }
  .hero span {
    margin-left: 42.64902%;
    font-family: "Cardo", serif;
    font-size: 24px;
    line-height: 86px; }

.headshot {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-top: 20px; }
  .headshot:last-child {
    margin-right: 0; }
  .headshot img {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
    margin-left: 34.94305%;
    max-width: 100%; }
    .headshot img:last-child {
      margin-right: 0; }
  .headshot img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); }

.about {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%;
  font-family: "Josefin Sans", sans-serif;
  line-height: 25px;
  text-decoration: none; }
  .about:last-child {
    margin-right: 0; }
  .about span {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none; }
    .about span a {
      text-decoration: none; }

h1 {
  font-family: "Cardo", serif;
  text-align: center; }

.highlight {
  color: #FF6002; }

.skills {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px; }
  .skills:last-child {
    margin-right: 0; }
  .skills li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 30.0556%;
    font-family: "Josefin Sans", sans-serif;
    line-height: 25px;
    text-align: center; }
    .skills li:last-child {
      margin-right: 0; }
    .skills li:hover {
      color: #FF6002;
      font-weight: bold; }

.portfolio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px; }
  .portfolio:last-child {
    margin-right: 0; }
  .portfolio a {
    text-decoration: none;
    color: #000000; }

.portfolioLinks {
  list-style-type: none; }

.links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px; }
  .links:last-child {
    margin-right: 0; }
  .links a {
    text-decoration: none;
    color: #000000; }

.nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  list-style-type: none;
  background-color: #EDEDED;
  border: 1px solid rgba(103, 105, 94, 0.32);
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 40px;
  font-family: "Josefin Sans", sans-serif; }
  .nav:last-child {
    margin-right: 0; }
